body h2 {
    margin-left: 17%;
    color: rgb(9, 60, 95);
    font-family: Georgia;
}
.container{
    position: relative;
}
.area1{
    position: absolute;
    top:100px;
    left: 5px;

}
.area2{
    position: absolute;
    top:100px;
    left: 50%;
}

#tabla-scroll {
    max-height: 400px;
    max-width: 45%;
    overflow-y: auto;
    border: 2px double blue;
    border-radius: 15px;


}

table {
    border-collapse: collapse;
    margin: 15px 10px;
    border: 1px solid #2c966d;
}

.encabezado {
    position: sticky;
    top:0px;
    z-index: 2;
    background: lightblue;
}

tr
th {
    width: 100px;
    background-color: lightblue;
    color: rgb(12, 75, 12);
    font-size: .9rem;
    padding: 5px 5px;
    



}

tr
td {
    background-color: azure;
    color: rgb(17, 71, 71);
    font-size: .9rem;
    padding: 5px 2px;


}